/* Settings */
:root {
    --main-font: normal normal 400 16px/20px Montserrat, Arial, sans-serif;
    --main-header-font: normal normal 700 36px/48px "Playfair Display", "Times New Roman", serif;
    --main-color: #ae7c78;

    --page-width: 1440px;
    --page-margin: 120px;
    --wrapper-width: 1200px;
    --row-gap: 80px;
    
    --column-gap: 20px;
    --one-column: 82px;
    --three-columns: 285px;
    --four-columns: 388px;
    --six-columns: 590px;
    --eight-columns: 794px;
}
/* Settings */

/* Page grid */
.page {
    display: grid;
    grid-template-columns: var(--page-margin) var(--wrapper-width) var(--page-margin);
    grid-template-rows: auto;
    row-gap: var(--row-gap);
}

.page-header,
.page-footer {
    grid-column: 1/-1;
}

.page-main {
    grid-column: 2/-2;
}
/* Page grid */

/* page-main grid */
.page-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

.promo,
.advantage,
.catalog-divisions,
.discount,
.features,
.news,
.reviews {
    grid-column: 1/-1;
}

.popular {
    grid-column: 3/-3;
}
/* page-main grid/

/* Resets */
[class*="--reset-list"] {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

[class*="--reset-dl"] {
    margin: 0;
}

[class*="--reset-dd"] {
    margin: 0;
}

[class*="--reset-h"] {
    padding: 0;
    margin: 0;
}

[class*="--reset-p"] {
    margin: 0;
}

[class*="--reset-button"] {
    padding: 0;
}

[class*="--reset-address"] {
    font-style: normal;
}

[class*="--display_none"] {
    display: none;
}
/* Resets */

/* General styles */
.page {
    width: var(--page-width);
    margin: 0 auto;

    font: var(--main-font);
    color: var(--main-color);
    
    background-color: #e5e5e5;
}

.page__a > img {
    display: block;
    width: 100%;
    height: auto;
}

.page__h {
    font: var(--main-header-font);
}

.page__a {
    text-decoration: none;
}

.page__i {
    font-style: italic;
}

.button {
    display: block;
    box-sizing: border-box;
    width: var(--three-columns);
    padding: 28px 0;

    color: #ffffff;
    text-align: center;

    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 40px;
}

.button:hover {
    background-color: transparent;
    color: var(--main-color);
}
/* General styles */

/* Socials style */
.socials {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    width: 90px;
}

.socials__item:not(:last-child) {
    margin-right: 15px;
}

.socials__ins--color_dark::after {
    background: url(../img/instagram-icon-dark.svg);
}

.socials__fb--color_dark::after {
    background: url(../img/facebook-icon-dark.svg);
}

.socials__tw--color_dark::after {
    background: url(../img/twitter-icon-dark.svg);
}

.socials__ins--color_light::after {
    background: url(../img/instagram-icon-light.svg);
}

.socials__fb--color_light::after {
    background: url(../img/facebook-icon-light.svg);
}

.socials__tw--color_light::after {
    background: url(../img/twitter-icon-light.svg);
}

.socials__item a {
    position: relative;

    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.socials__item a:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "";
    display: block;
    width: 33px;
    height: 33px;

    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
}

.socials__item a::after {
    background-color: transparent;
}

.socials__item:hover [class*="dark"]::after {
    background-color: rgb(174, 124, 120);
}

.socials__item:hover [class*="light"]::after {
    background-color: #ffffff;
}

.socials__item:hover .socials__ins--color_dark::after {
    background-image: url(../img/instagram-icon-light.svg);
}

.socials__item:hover .socials__fb--color_dark::after {
    background-image: url(../img/facebook-icon-light.svg);
}

.socials__item:hover .socials__tw--color_dark::after {
    background-image: url(../img/twitter-icon-light.svg);
}

.socials__item:hover .socials__ins--color_light::after {
    background-image: url(../img/instagram-icon-dark.svg);
}

.socials__item:hover .socials__fb--color_light::after {
    background-image: url(../img/facebook-icon-dark.svg);
}

.socials__item:hover .socials__tw--color_light::after {
    background-image: url(../img/twitter-icon-dark.svg);
}
/* Socials style */

/* Page header */
.page-header {
    display: grid;
    grid-template-columns: auto var(--wrapper-width) auto;

    position: relative;

    margin-top: 25px;
    
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.main-menu {
    grid-column: 2/-2;
}

.main-menu__list {
    display: flex;
    justify-content: space-between;
}

.main-menu__item:first-child .main-menu__item-link {
    padding-left: 0;
}

.main-menu__item:last-child .main-menu__item-link {
    padding-right: 0;
}

.main-menu__item:not(:last-child) {
    margin-right: 90px;
}

.main-menu__item:nth-child(3) {
   margin-right: auto;
}

.main-menu__item-link {
    position: relative;

    display: block;
    padding: 22px 0;

    font: var(--main-font);
    color: var(--main-color);
}

.main-menu__item-link::after {
    position: absolute;

    content: "";
    display: none;
    height: 1px;
    width: 100%;
    background-color:rgb(174, 124, 120);
}

.main-menu__item:hover .main-menu__item-link::after {
    display: block;
}

.page-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    transform: translate(-50%, -50%);
}
/* Page header */


/* Section catalog promo */
.promo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "promo__content image-left image-right"
        "advantage advantage advantage";
    grid-template-rows: 462px auto;
    column-gap: var(--column-gap);
    row-gap: 50px;
}

.promo__content {
    grid-area: promo__content;
}

.promo__image--horizontally_left {
    grid-area: image-left;

    margin-top: auto;
}

.promo__image--horizontally_right {
    grid-area: image-right;
}

.promo__header {
    margin-bottom: 25px;

    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
}

.promo__intro {
    margin-bottom: 64px;

    font-size: 24px;
    line-height: 29px;
}

.promo__image {
    border-radius: 10px;
}
/* Section catalog promo */

/* Section advantage */
.advantage {
    grid-area: advantage;
}

.advantage__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--column-gap);
}

.advantage__item {
    position: relative;

    padding-left: calc(var(--one-column) + var(--column-gap));
}

.advantage__item--type_delivery::before {
    background: url(../img/delivery-icon.svg);
}

.advantage__item--type_bouquet::before {
    background: url(../img/bouquet-icon.svg);
}

.advantage__item--type_camera::before {
    background: url(../img/camera-icon.svg);
}

.advantage__item::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    display: block;
    width: 82px;
    height: 52px;

    background-repeat: no-repeat;
    background-position: right top;
}

.advantage__item-title {
    margin-bottom: 8px;

    font-weight: 500;
}
/* Section advantage */

/* Section popular */
.popular__header {
    margin-bottom: 36px;

    font-size: 36px;
    line-height: 48px;

    text-align: center;
}

.slider__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--column-gap);

    min-height: 440px;
}

.slider__item-content {
    padding-top: 25px;
}

.slider__item-header {
    margin-bottom: 22px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.slider__item-description {
    margin-bottom: 24px;
}

.slider__item-dimension {
    display: block;
    margin-bottom: 24px;
}

.slider__item-price {
    display: block;
    margin-bottom: 64px;

    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.slider__controls {
    position: relative;
    top: 13px;

    text-align: center;
}

.slider__controls button {
    margin: 0 7px;

    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* Section popular */


/* Section catalog-divisions */
.catalog-divisions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--column-gap);
}

.catalog-divisions__item:first-child {
    background: rgb(174, 124, 120) url(../img/division-bridal-bouquet.jpg);
}

.catalog-divisions__item:nth-child(2) {
    background: rgb(174, 124, 120) url(../img/division-bouquets-with-peonies.jpg);
}

.catalog-divisions__item:nth-child(3) {
    background: rgb(174, 124, 120) url(../img/division-assorted-bouquets.jpg);
}

.catalog-divisions__item {
    min-height: 442px;

    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 10px;
}

.catalog-divisions__item a {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px 20px;

    color: #ffffff;

    border-radius: 10px;

    transition: color 0.2s;
    transition-timing-function: linear;
}

.catalog-divisions__item a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    background-color: rgba(174, 124, 120, 0.6);
    border-radius: 10px;

    transition: height 0.2s;
    transition-timing-function: linear;
}

.catalog-divisions__item:hover a::after {
    height: 0;
}

.catalog-divisions__item:hover a {
    color: transparent;
}

.catalog-divisions__item-title {
    position: relative;
    z-index: 100;

    font-size: 36px;
    line-height: 62px;
    letter-spacing: 0.8px;
}

.catalog-divisions__item-description {
    position: relative;
    z-index: 100;
}
/* Section catalog-divisions */


/* Section discount */
.discount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--column-gap);

    color: #ffffff;

    background-color: var(--main-color);
}

.discount__content {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 65px;
    padding-left: calc(var(--one-column) + var(--column-gap));
}

.discount__header {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.8px;
}

.discount__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
/* Section discount */


/* Section features */
.features {
    text-align: center;
}

.features__header {
    margin-bottom: 18px;

    letter-spacing: 0.8px;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--column-gap);
}

.features__item {
    position: relative;

    padding-top: 70px;
}

.features__item--type_order::before {
    background: url(../img/cart-icon.svg);
}

.features__item--type_details::before {
    background: url(../img/avatar-icon.svg);
}

.features__item--type_payment::before {
    background: url(../img/card-icon.svg);
}

.features__item--type_delivery::before {
    background: url(../img/delivery-icon.svg);
}

.features__item::before {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    height: 52px;

    content: "";
    display: block;

    background-repeat: no-repeat;
    background-position: center top;
}

.features__item-title {
    margin-top: 8px;
    margin-bottom: 8px;

    font-weight: 500;
}

/* Section features */

/* Section news */
.news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--one-column) + var(--column-gap) * 2);

    min-height: 390px;
}

.news__content {
    padding-top: 70px;
}

.news__header {
    letter-spacing: 0.8px;
}

.news__description {
    margin-top: 40px;
    margin-bottom: 40px;

    font-size: 24px;
    line-height: 29px;
}

.news__images {
    display: grid;
    grid-template-columns: 285px 387px;
    grid-template-rows: 220px 220px;
    gap: 20px;
    grid-template-areas:
        "small-1 big"
        "small-2 big";
}

.news__image--size_little:first-child {
    grid-area: small-1;
}

.news__image--size_little:nth-child(2) {
    grid-area: small-2;
}

.news__image--size_big {
    grid-area: big;
}

.news__image {
    display: block;
    background-color: #dfe4e8;
}
/* Section news */


/* Section reviews */
.reviews {
    display: grid;
    grid-template-areas: 
        "header header header"
        "review review review";
    column-gap: var(--column-gap);

    padding-top: 40px;
    padding-bottom: 61px;

    text-align: center;

    border: 1px solid var(--main-color);
}

.reviews__header {
    grid-area: header;
    margin-bottom: 15px;
}

.reviews__item {
    padding: 0 30px;
    margin: 0;
}

.reviews__item-content {
    margin-top: 25px;
    margin-bottom: 16px;
}

.reviews__item-author {
    font-style: normal;
    font-weight: 500;
}
/* Section reviews */


/* page-footer */
.page-footer {
    display: grid;
    grid-template-columns: 1fr;
}

.page-footer__bottom {
    display: grid;
    grid-template-columns: var(--page-margin) auto auto auto var(--page-margin);
    grid-template-rows: auto;
    grid-template-areas: ". logo secondary-menu socials .";

    padding-top: 24px;
    padding-bottom: 40px;

    background-color: var(--main-color);
}

.page-footer .logo {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    margin-right: 10px;
}

.secondary-menu {
    grid-area: secondary-menu;

    display: flex;
    align-items: center;
}

.secondary-menu__item {
    position: relative;
}

.secondary-menu__item:not(:last-child) {
    margin-right: 68px;
}

.secondary-menu__item-link {
    font: var(--main-font);
    color: #ffffff;
}

.secondary-menu__item-link::after {
    position: absolute;

    content: "";
    display: none;
    height: 1px;
    width: 100%;
    background-color:#ffffff;
}

.secondary-menu__item:hover .secondary-menu__item-link::after {
    display: block;
}

.page-footer__socials {
    grid-area: socials;

    margin-left: auto;
}
/* page-footer */

/* Section contacts */
.contacts {
    display: grid;
    grid-template-columns: 1440px;
    grid-template-rows: auto;
    grid-template-areas: "contacts";

    background-color: #fdfaf2;
}

.contacts__map {
    grid-area: contacts;
}

.contacts__data {
    grid-area: contacts;

    box-sizing: border-box;
    width: var(--four-columns);
    padding: 40px 35px 55px;

    margin-top: 52px;
    margin-left: 222px;
    margin-bottom: auto;

    background-color: #ffffff;
    border-radius: 12px;
}

.contacts__intro {
    margin-bottom: 38px;

    font: var(--main-header-font);
}

.contacts__item:not(:last-child) {
    margin-bottom: 31px;
}

.contacts__item-title {
    display: block;
    margin-bottom: 16px;

    font-style: normal;
}

.contacts__item-description {
    display: block;

    font-style: normal;
    font-weight: 500;
}

.contacts__item-description a {
    position: relative;
    display: inline-block;

    color: var(--main-color);
}

.contacts__item-description:hover a::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;

    position: absolute;

    background-color: var(--main-color);
}
/* Section contacts */

